### Node / JS
node_modules/
dist/
/.turbo/

### Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.idea/
.DS_Store
.vscode/

### Environment
.env
.env.*.local

### Build / cache
/.parcel-cache/
/.cache/
coverage/
*.tsbuildinfo

### OS
Thumbs.db
*.swp

### Packages
package-lock.json
composer.lock

### Editor directories and files
*.sublime-workspace
*.sublime-project

### Misc
*.tgz
*.log
